# Aplicacion de Matrices de Matrices al DATASET de Peso IRis

In [1]:
import math
import numpy as np
import seaborn as sns

C:\Python311\Lib\site-packages\matplotlib\projections\__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
# Matriz de pesos - 1ra. capa oculta
W1 = np.array([[7.6712312, -2.3188057], 
               [0.8215116, -0.8694827], 
               [-2.3669804, 4.9042392],
               [-1.1636942, -1.7390138],
              [-2.6457791, -2.2029077]])

In [3]:
W2 = np.array([[  0.6931661,  -1.0937871,    6.229653], 
               [ -0.0610779,   0.1110453, -147.538749], 
               [ -1.7816381,   2.2046631, -474.784991]])

In [4]:
W3 = np.array([[ 0.14081511,  0.3761626,  -0.8494644], 
               [-0.76695128,  1.3313801,   0.9650682], 
               [ 1.36550108, -0.9151961,   0.8008893], 
               [ 0.02726226, -1.0294947,   1.0011598]])

In [5]:
def f_act(X):
    activada = np.array([1 / (1 + math.exp(-x)) for x in X])
    return activada

# CARGA DE DATOS

In [6]:
iris  = sns.load_dataset('iris')
xcols  =['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
especie = iris['species'].unique()
especie

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
X = iris[xcols].copy()
X.insert(0, 'bias', 1)
X.head()

   bias  sepal_length  sepal_width  petal_length  petal_width
0     1           5.1          3.5           1.4          0.2
1     1           4.9          3.0           1.4          0.2
2     1           4.7          3.2           1.3          0.2
3     1           4.6          3.1           1.5          0.2
4     1           5.0          3.6           1.4          0.2

# PREDICCION

In [9]:
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especie[np.argmax(salida)])

In [10]:
iris['Prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species Prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa

In [12]:
iris.iloc()

# PREDICCIONES ERRONEAS

In [14]:
errores = iris[iris['species'] != iris['Prediccion']]
errores

,sepal_length,sepal_width,petal_length,petal_width,species,Prediccion
77,6.7,3.0,5.0,1.7,versicolor,virginica
83,6.0,2.7,5.1,1.6,versicolor,virginica
119,6.0,2.2,5.0,1.5,virginica,versicolor

In [18]:
eficiencia = (1 - len(errores)/len(iris))*100
eficiencia

98.0